<div class="completed-orders-container">
  <div class="table-container-wrapper">
    <div class="table-container">
      <table class="table table-hover bg-white">
        <thead>
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Completed Date</th>
            <th>Total</th> 
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of completedOrders; index as i">
            <td>{{i+1}}</td>
            <td>{{order.userFullName}}</td>
            <td>{{order.updatedAt}}</td>
            <td>${{order.total}}</td>
            <td>  
              <span (click)="openProductsList(order.id!)" class="material-icons-outlined">menu_book</span> 
              <span (click)="getPDF(order.id!)" class="material-icons-outlined">print</span> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>