<div class="orders">
  <div class="btn add-btn" (click)="addOrder()">
    <span class="material-icons">add</span>
  </div> 
  <div *ngFor="let order of orders" class="order">
    <span class="order-title">{{order.title+" => "}}&nbsp;&nbsp;&nbsp;&nbsp;{{"$ "+order.total!.toFixed(2)}}</span> 
    <div class="btns-container">
      <button class="button" (click)="getPDF(order.id!)">
        <span class="material-icons-outlined btn-text">receipt_long</span>
      </button>
      <button class="button" (click)="completeOrder(order.id!)">
        <span class="material-icons-outlined btn-text">done</span>
      </button>
      <button class="button" (click)="openOrderedProductsList(order.id!)">
        <span class="material-icons-outlined btn-text">menu_book</span>
      </button>
      <button class="button" (click)="deleteOrder(order.id!)">
        <span class="material-icons-outlined btn-text">delete</span>
      </button>
      <button class="button" (click)="editOrder(order!)">
        <span class="material-icons-outlined btn-text">edit</span>
      </button>
      </div>
  </div>
</div>