.app-wrapper{
  height: 100%;
  width: 100%;
  display: flex;

  .back-img{
    position: fixed;
    height: 100%;
    width:100%;
    object-fit: fill;
    z-index: -1;
    pointer-events: none;
  }

  .content{ 
    margin: auto ;
    height: 100%;
    width: 100%;
  }  
}

