<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="utf-8"></meta>
  <title>Generate Pdf</title>
  <link href="bootstrap.css" rel="stylesheet"></link>
  <link href="pdf.css" rel="stylesheet"></link>
</head>
<body>
  <div class="container">
    
    <div class="title">Le Restaurant | Too Hôtel</div> 
	<div th:text="'User Name : '+${details}"></div>
	<div th:text="'Total : ' + ${total}"></div>	
	
  	 <table class="tabe">
       <thead>
          <tr> 
            <th>Product Name</th>
            <th>Category</th>
            <th>Count</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product: ${orderedProducts}">
            <td th:text=${product.prodName}></td>
            <td th:text=${product.cateName}></td>
            <td th:text=${product.prodCount}></td>
            <td th:text=${product.total}>$</td>
          </tr> 
        </tbody>
      </table>

  </div>
</body>
</html>-->
