/*html,body{
  height:100%;
  width:100%;
} 

*{
	box-shadow: b
}

.container{
  height: 100%;
  width:100%;
  background-color: blue;
}

.container span{
	display: block;
	padding: auto;
}

.table{
	border :2px; 
}

.title{
  font-size:25px;
  color:rgb(78, 54, 54); 
  padding:10px 0;
  text-align:center;
  max-height: 100%;
}
 */