<div class="edit-category-container">     
   <form class="category-form" (ngSubmit)="onSubmit()">
     <h1 class="mb-4" mat-dialog-title>Edit Category</h1>

     <div class="col-md-10">
      <label for="title" class="form-label">Title</label>
      <input type="text" [formControl]="titleControl" class="form-control"
      [ngClass]="{'is-invalid':titleControl.errors || msg!==undefined,
                  'is-valid':titleControl.errors===null && msg===undefined}"
      id="title">        
      
      <div *ngIf="msg!==undefined; else secondTitleErrTemplate" class="invalid-feedback">
        <span>{{msg}}</span>
      </div> 

      <ng-template #secondTitleErrTemplate>
        <div *ngIf="titleControl.errors?.['required']; else thirdTitleErrTemplate" class="invalid-feedback">
          <span>Title is required...</span>
        </div>  
      </ng-template>

      <ng-template #thirdTitleErrTemplate>
        <div *ngIf="titleControl.errors?.['onlywhitespace']; else fourhTitleErrTemplate" class="invalid-feedback">
          <span>Title can't contain only white space...</span>
        </div> 
      </ng-template>

      <ng-template #fourhTitleErrTemplate>
        <div *ngIf="titleControl.errors?.['maxlength']; else titleSuccessTemplate" class="invalid-feedback">
          <span>Title mustn't owerflow 100 character...</span>
        </div> 
      </ng-template>

      <ng-template #titleSuccessTemplate>
        <div *ngIf="titleControl.errors===null" class="valid-feedback">
          <span>Looks good!</span>
        </div>
      </ng-template>
    </div>

      <div class="buttons-container">
        <button mat-raised-button color="warn" (click)="cancel()" type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit" 
        [disabled]="titleControl.invalid===true">Save</button>
      </div>

    </form> 
</div>